* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active,
a:focus,
a:hover {
    outline: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
}

svg {
    max-width: 100%;
    height: auto;
}

/* Form */

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 600000s ease-in-out 0s;

    -webkit-text-fill-color: #ffffff;
}

input::-ms-clear {
    display: none;
}

textarea {
    resize: none;
}

input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
}

button,
input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
    border: none;
    padding: 0;
    font: inherit;
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

legend {
    display: block;
}
